$black: #333333;

.main {

  padding-left: 0;
  margin-left: 0;

  tr {
    outline: none;
  }

  table tr.active td {
    background-color: cornflowerblue;
    color: white;

  }

  .menu {

    flex: 0 0 15%;
    border-right: 1px solid black;

    small {
      display: block;
      text-align: right;
    }

    .center {
      text-align: center;
      font-weight: bold;
    }

  }

  //li.session {
  //
  //  padding: 5px;
  //  outline: none;
  //
  //  &:nth-child(odd) {
  //    background-color: #f9f9f9;
  //  }
  //
  //}

}

.sideView {

  overflow-y: scroll;
  overflow-x: hidden;
  flex: 0 0 auto;

}

.noPagination {
  .ng-table-pager {
    display: none;
  }
}

small {
  color: gray;
}

.row {

  display: flex;
  flex-direction: row;

}

.removed {
  text-decoration: line-through;
}

.inactive {

  color: gray;

}
