$black: #333333;

.main {

  $padding: 15px;

  .jumbotron {

    margin: 20px 0;
    color: $black;

    padding-top: $padding;
    padding-bottom: $padding;

    h1 {
      font-size: 36px;
    }

    @media screen and (max-width: 768px) {

      padding-top: $padding / 2;
      padding-bottom: $padding / 2;

      h1 {
        font-size: 30px;
      }

    }

    @media screen and (min-width: 1024px) {

      padding-top: $padding * 2;
      padding-bottom: $padding * 2;

      h1 {
        font-size: 50px;
      }

    }

  }

  form {

    display: flex;
    margin-top: $padding;

    input {
      flex: 1;
      display: block;
      margin-right: 10px;
    }

  }

  .messages {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .message + .message {
    margin-top: 6px;
  }

  .from {
    font-size: 80%;
    color: gray;
  }

  .own {
    text-align: right;
  }

}
