.sts-container.main.row

  .menu.noPagination

    h5.center User Agent

    input.form-control(ng-model='vm.searchText' placeholder='Search sessions')

    .scroll-y(resize resize-offset-top='0' resize-property='height')

      ul.list-group

        li.list-group-item.session(
        ng-repeat='session in vm.sessions | filter:vm.searchText'
        ng-class='vm.sessionClass(session)'
        ng-click='vm.sessionClick(session)'
        )
          .badge(ng-bind='session.secondsToDestroy')
          .title(ng-bind='vm.sessionTitle(session)')
          small(ng-bind='session.account.name')

  ui-view.sideView
