.container.main

  //ul.list-group()
  //  li.list-group-item(
  //  ng-repeat='session in vm.sessions | orderBy: "-ts" track by session.id',
  //  ng-class='{ disabled: session.destroyed }'
  //  )
  //    pre {{ session | json }}

  .menu

    table.table(ng-table="vm.tableParams" class="table")

      tr(
      ng-repeat="session in $data"
      ng-class='{ disabled: session.destroyed }'
      ng-click="vm.showDetails(session.id)"
      )
        td(data-title="'User Agent'")
          | {{ session.userAgent}}

  ui-view.sideView

