.container.main

  //ul.list-group()
  //  li.list-group-item(
  //  ng-repeat='session in vm.sessions | orderBy: "-ts" track by session.id',
  //  ng-class='{ disabled: session.destroyed }'
  //  )
  //    pre {{ session | json }}

  .menu

    h5.center User Agent

    input.form-control(ng-model="searchText")

    .scroll-y(resize resize-offset-top='0')

      table.table(ng-table="vm.tableParams" class="table")

        thead

        tr(
        ng-repeat="session in $data | filter:searchText"
        ng-class='{ disabled: session.destroyed }'
        ng-click="vm.showDetails(session.id)"
        )
          td(data-title="'User Agent'")
           | {{ session.userAgent}}

  ui-view.sideView

