//div(ui-tree-handle='')
//  | {{node.label}}
//ol(ui-tree-nodes='' ng-model='node.label')
//  li(ng-repeat='node in node.children' ui-tree-node='' ng-include="'app/detail/parent_items_renderer.html'")


.tree-node.tree-node-content(ui-tree-handle='')
  a(href='')
    div(ng-if='node.children', data-nodrag='', ng-click='toggle(this)')
      span.glyphicon(ng-class="{\
      'glyphicon-chevron-right closed': collapsed,\
      'glyphicon-chevron-down open': !collapsed}")
      span(ng-bind-html='node.label')  {{node.label}}
ul(ui-tree-nodes='', ng-model='node.children', ng-class='{hidden: collapsed}')
  li(ng-repeat='node in node.children', ui-tree-node='', ng-init='collapse()', ng-include="node.children ? 'app/detail/parent_items_renderer.html' :  'app/detail/terminal_item_renderer.html' ")

